@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+VIC+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+VIC+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lemonade";
  default: true;
  --color-primary: #025253;
  --color-secondary: #C55938;
  --color-base: #FAFAFA;
  --color-neutral: #EDEBF0;
  --color-accent: #D2A337;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #025253;
    --secondary: #C55938;
    --base: #FAFAFA;
    --base-content: #272727;
    --neutral: #EDEBF0;
    --accent: #D2A337;
  }
}

body {
  color: var(--base-content);
  background: var(--base);
  font-family: "Figtree";
}

h1, h2, h3{
  font-family: "Instrument Sans";
}

.grid-background{
  background-color: #F5F5F5;
  background-image:  linear-gradient(to right, rgba(224, 224, 224, 0.4) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(224, 224, 224, 0.4) 1px, transparent 1px);
  background-size: 40px 40px;
}

.fading-effect{
  bottom: 0;
  width: 100%;
  height: 100px; /* Adjust this height based on how much fade you want */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  pointer-events: none; /* Ensures it doesn’t block clicks */
}

.steps li:not(:first-child)::before {
  border-left-width: 2px; /* Adjust the value as needed */
  border-right-width: 2px;
  border-color: oklch(0.9871 0.02 123.72);
  outline: none;
}
